body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
  padding: 2rem;
  margin: 0;
}

h1,
h2 {
  color: #000000;
}

section {
  background-color: #e9dbc9;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

input,
textarea {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: none;
  background-color: #f9f4f0;
  color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: #bbaaa0;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background: #e0a96d;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #c97c5d;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #4a3d3d;
}

.star {
  font-size: 1.8rem;
  cursor: pointer;
  color: #bbaaa0;
  transition: color 0.2s;
}

.star.selected {
  color: #e0a96d;
}
